body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-decoration: none;
}

a {
	color: #2E6E9E !important;
	text-decoration: none;
}

p {
	font-family: "Arial", Helvetica, sans-serif;
	color: #848788;
}

body,td,th {
	font-size: 12px;
	font-family: "Arial", Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	text-align: justify;
	color: #848788;
}

.LV_validation_message{
	margin-bottom: 1px;
	margin-top: 1px;
}

#sedHeader {
	background-color: #C5DBEC;
	border-bottom: #2E6E9E;
	border-bottom-style: double;
	height: 40px;
}

#content {
	padding-top: 40px;
	padding-bottom: 20px;
}

#footerDiv {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 30px;
}

.ui-inputfield {
	color: #5A5D5E !important;
}

.ui-invalid-field {
	color: #F1473A;
}

.student-calendar input {
	width: 95%;
}

.ui-emphasize-text {
	color: #3CB3DB;
}

.ui-table-filter {
	width: 80% !important;
}

.ui-subtitle-sed {
	background-color: #2E6E9E;
	height: 35px;
	padding-left: 20px;
	border-radius: 5px 5px 5px 5px;
	color: white;
	line-height: 35px;
}
.ui-seduser-calendar input{
	width: 95%;	
}
.ui-subject-red{
	border: 1px solid #E57191;
	background-color: #EFA5BA;
	color:black;
}
.ui-subject-green{
	border: 1px solid #63E490;
	background-color: #B2ECC6;
	color:black;
}
.ui-subject-yellow{
	border: 1px solid #EBF048;
	background-color: #F0F2B4;
	color:black;
}
.ui-subject-lightblue{
	border: 1px solid #6195E9;
	background-color: #A3C1F0;
	color:black;
}
.ui-subject-orange{
	border: 1px solid #F09748;
	background-color: #F7BB88;
	color:black;
}
.ui-subject-aqua{
	border: 1px solid #67BDE1;
	background-color: #AFE1F7;
	color:black;
}
.ui-subject-lightgreen{
	border: 1px solid #83D63A;
	background-color: #C7F59F;
	color:black;
}
.ui-subject-gray{
	border: 1px solid #6F6E6A;
	background-color: #C7C7C4;
	color:black;
}
.ui-subject-blue{
	border: 1px solid #1A42C3;
	background-color: #6587F5;
	color:black;
}
.ui-subject-oceanblue{
	border: 1px solid #0F6DA4;
	background-color: #66C3F8;
	color:black;
}
.ui-subject-black{
	border: 1px solid #000000;
	background-color: #313436;
	color:white;
}
.ui-subject-white{
	border: 1px solid #6D7072;
	background-color: #E8EFF3;
	color:black;
}
.ui-subject-purple{
	border: 1px solid #A541E3;
	background-color: #BF88E2;
	color:black;	
}
.fc-event-title{
	font-size: 13px;
	color: #4D4646;
}
.fc-event-time{
	font-size: 20px !important;
	color: #4D4646 !important;
}
.ui-datagrid-content{
	border-style: none !important;
}