body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-decoration: none;
}
p{
	font-family: "Arial",Helvetica,sans-serif;
	color: black;
}

body,td,th {
	font-size: 12px;
	font-family: "Arial",Helvetica,sans-serif;
	font-style: normal;
	line-height: normal;
	text-align: justify;
	color: #848788;
}

#sedHeader {
	background-color: #C5DBEC;
	border-bottom: #2E6E9E;
	border-bottom-style: double;
	height: 5%;
}

#content {
	padding-top: 40px;
	padding-bottom: 20px;
}
a {
	text-decoration: none;
	color: #2337BC !important;
}

#footerDiv {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 30px;
}
.ui-inputfield {
	color:#5A5D5E !important;
}
.ui-field-invalid{
	color:#F1473A;
}
.student-calendar input{
	width: 95%;
}
.ui-emphasize-text{
	color:#3CB3DB;
}
.ui-table-filter{
	width:80% !important;
}