body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-decoration: none;
	background-color: #F9F8EF;
}

a {
	color: #2E6E9E !important;
	text-decoration: none;
}

p {
	font-family: "Arial", Helvetica, sans-serif;
	color: #848788;
}

body,td,th {
	font-size: 12px;
	font-family: "Arial", Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	text-align: justify;
	color: #848788;
}

.LV_validation_message{
	margin-bottom: 1px;
	margin-top: 1px;
}

#sedHeader {
	height: 40px;
}

#content {
	padding-top: 40px;
	padding-bottom: 20px;
}

#footerDiv {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 30px;
}

.ui-inputfield {
	color: #5A5D5E !important;
}

.ui-invalid-field {
	color: #F1473A;
}

.student-calendar input {
	width: 95%;
}

.ui-emphasize-text {
	color: #3CB3DB;
}

.ui-table-filter {
	width: 80% !important;
}

.ui-subtitle-sed {
	background-color: #2E6E9E;
	height: 35px;
	padding-left: 20px;
	border-radius: 5px 5px 5px 5px;
	color: white;
	line-height: 35px;
}
.ui-seduser-calendar input{
	width: 95%;	
}
.ui-subject-red{
	border: 1px solid #E57191;
	background-color: #EFA5BA;
	color:black;
}
.ui-subject-green{
	border: 1px solid #63E490;
	background-color: #B2ECC6;
	color:black;
}
.ui-subject-yellow{
	border: 1px solid #EBF048;
	background-color: #F0F2B4;
	color:black;
}
.ui-subject-lightblue{
	border: 1px solid #6195E9;
	background-color: #A3C1F0;
	color:black;
}
.ui-subject-orange{
	border: 1px solid #F09748;
	background-color: #F7BB88;
	color:black;
}
.ui-subject-aqua{
	border: 1px solid #67BDE1;
	background-color: #AFE1F7;
	color:black;
}
.ui-subject-lightgreen{
	border: 1px solid #83D63A;
	background-color: #C7F59F;
	color:black;
}
.ui-subject-gray{
	border: 1px solid #6F6E6A;
	background-color: #C7C7C4;
	color:black;
}
.ui-subject-blue{
	border: 1px solid #1A42C3;
	background-color: #6587F5;
	color:black;
}
.ui-subject-oceanblue{
	border: 1px solid #0F6DA4;
	background-color: #66C3F8;
	color:black;
}
.ui-subject-black{
	border: 1px solid #000000;
	background-color: #313436;
	color:white;
}
.ui-subject-white{
	border: 1px solid #6D7072;
	background-color: #E8EFF3;
	color:black;
}
.ui-subject-purple{
	border: 1px solid #A541E3;
	background-color: #BF88E2;
	color:black;	
}
.ui-attention{
	border: 1px solid #003E5F;
	background-color: #79CEFC;
	color:black;
	font-weight: bold;
}


.fc-event-title{
	font-size: 13px;
	color: #4D4646;
}
.fc-event-time{
	font-size: 20px !important;
	color: #4D4646 !important;
}
.ui-datagrid-content{
	border-style: none !important;
}
.ui-sed-menu{
	width: 20%;
	float: left;
	padding: 2%;
	padding-top: 30px;
	padding-bottom: 70px;
	background: -webkit-linear-gradient(#C5DBEC, #F9F8EF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C5DBEC, #F9F8EF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C5DBEC, #F9F8EF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C5DBEC, #F9F8EF); /* Standard syntax (must be last) */
    border-radius: 5px 5px 5px 5px;
    min-height: 300px;
}
.ui-login-header{
	height: 50px; 
	background: -webkit-linear-gradient(90deg, #0A1D2B, #004980);/* For Safari 5.1 to 6.0 */ 
	background: -o-linear-gradient(90deg, #0A1D2B, #85C0FA);/* For Opera 11.1 to 12.0 */ 
	background: -moz-linear-gradient(90deg, #0A1D2B, #85C0FA);/* For Firefox 3.6 to 15 */ 
	background: linear-gradient(90deg, #0A1D2B, #85C0FA);
	overflow: hidden;
}
.ui-logo-header{
	float: left; 
	width: 25%;
	height: 100%;
	margin-top: 8px;
	padding-top: 10px;
}
.ui-lifemena-header{
	height: 10%; 
	font-family: 'Times New Roman', Times, serif; 
	font-size: 25px; 
	color: white; 
	line-height: 75px; 
	float: left; 
	width: 50%; 
	height: 100%;
	padding-left: 90px;
}
.ui-lifemena-img{
	background-image: url('../css/images/lifemena.jpg'); 
	border-radius: 50% 50%; 
	height: 100px; 
	width: 100px; 
	background-size: 100px 100px; 
	margin: 0 auto;
}