body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-decoration: none;
}

a {
	color: #2E6E9E !important;
	text-decoration: none;
}

p {
	font-family: "Arial", Helvetica, sans-serif;
	color: #848788;
}

body,td,th {
	font-size: 12px;
	font-family: "Arial", Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	text-align: justify;
	color: #848788;
}

#sedHeader {
	background-color: #C5DBEC;
	border-bottom: #2E6E9E;
	border-bottom-style: double;
	height: 5%;
}

#content {
	padding-top: 40px;
	padding-bottom: 20px;
}

#footerDiv {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 30px;
}

.ui-inputfield {
	color: #5A5D5E !important;
}

.ui-invalid-field {
	color: #F1473A;
}

.student-calendar input {
	width: 95%;
}

.ui-emphasize-text {
	color: #3CB3DB;
}

.ui-table-filter {
	width: 80% !important;
}

.ui-subtitle-sed {
	background-color: #2E6E9E;
	height: 35px;
	padding-left: 20px;
	border-radius: 5px 5px 5px 5px;
	padding-top: 0.5px;
	padding-bottom: 3.5px;
}